#content{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

p{
    color:steelblue;
    font-size: 23px;
    margin: 10px;
}

hr{
    border-top: 2px solid steelblue;
    width: 600px;
}

.list{
    font-size: 16px;
    width: 60%;
    list-style-type: none;
    padding-left: 110px;
}

h2{
    text-align: center;
    font-size: 30px;
}

h1{
    font-size: 40px;
    margin: 20px;
}

img{
    width: 400px;
}