h1{
    text-align: center;
    font-size: 50px;
}

h3{
    text-align: center;
    font-size: 25px;
    color: cornflowerblue;
    text-decoration: underline gray 1px;
}

p{
    font-size: 20px;
    padding-left: 25%;
    padding-right: 25%;
}

ol{
    font-size: 20px;
    padding-right: 25%;
    padding-left: 27%;
}

li{
    padding-bottom: 15px;
}

img{
    width: 200px;
}

div{
    padding-top: 40px;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    justify-items: center;
}